<section id="footer">
  <div class="container">
    <div class="row text-white text-center justify-content-center py-5">
      <div class="col-md-4">
        <div class="item">
          <h4 class="mb-4 fw-bolder">LOCATION</h4>
          <p class="lead">
            2215 John Daniel Drive
            <br />
            Clark, MO 65243
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h4 class="mb-4 fw-bolder">AROUND THE WEB</h4>
          <div class="soccial_icons d-flex justify-content-center">
            <div class="icon btn btn-outline-light">
              <i class="fab fa-fw fa-facebook-f fs-4" aria-hidden="true"></i>
            </div>
            <div class="icon btn btn-outline-light">
              <i class="fa-brands fa-twitter fs-4" aria-hidden="true"></i>
            </div>
            <div class="icon btn btn-outline-light">
              <i class="fa-brands fa-linkedin fs-4" aria-hidden="true"></i>
            </div>
            <div class="icon btn btn-outline-light">
              <i class="fab fa-fw fa-dribbble fs-4" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <h4 class="mb-4 fw-bolder">ABOUT FREELANCER</h4>
          <p class="lead">
            Freelance is a free to use, MIT licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-footer text-center pt-3 pb-2">
    <p>Copyright © Your Website 2021</p>
  </div>
</section>
