<section id="CONTACT" class="py-5 mt-5">
  <div class="container w-75">
    <div class="row gy-4 gx-5 justify-content-center">
      <div class="col-md-12">
        <div class="item text-center">
          <h3 class="fw-bolder fs-1 mb-2 pt-5">CONTACT ME</h3>
          <div class="content-under-header">
            <p class="lines">
              <i class="fa-solid fa-star fa-2x"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-6">
        <div class="item">
          <div class="col-md-12 py-3">
            <div class="form-group">
              <input
                class="form-control"
                id="name"
                placeholder="Enter Your Name"
              />
            </div>
          </div>

          <div class="col-md-12 py-3">
            <div class="form-group">
              <input
                class="form-control"
                id="email"
                placeholder="Enter Email"
              />
            </div>
          </div>

          <div class="col-md-12 py-3">
            <div class="form-group">
              <input
                class="form-control"
                id="phone"
                placeholder="Enter phone"
              />
            </div>
          </div>

          <div class="col-md-12 py-3">
            <div class="form-group">
              <textarea
                class="form-control"
                name=""
                id=""
                cols="50"
                rows="7"
                placeholder="message"
              ></textarea>
            </div>
          </div>
          <button class="btn btn-danger">Send</button>
        </div>
      </div>
    </div>
  </div>
</section>
