<section id="PORTFOLIO" class="py-5 mt-5">
  <div class="container w-75">
    <div class="row gy-4 gx-5">
      <div class="col-md-12 pt-5">
        <div class="item text-center">
          <h3 class="fw-bolder fs-1 mb-2">PORTFOLIO</h3>
          <div class="content-under-header">
            <p class="lines">
              <i class="fa-solid fa-star fa-2x"></i>
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 product"
        *ngFor="let item of boxes; let i = index"
      >
        <!-- image trigger modal -->
        <div
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#exampleModal' + i"
          class="position-relative"
        >
          <img [src]="item.url" alt="" class="w-100 img-fluid rounded" />
          <!-- image trigger modal:hover -->
          <div
            class="caption position-absolute top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center text-center rounded"
          >
            <div>
              <div class="icons d-flex mx-0 justify-content-center">
                <span>
                  <a><i class="fas fa-plus text-white fw-bolder"></i> </a>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          [id]="'exampleModal' + i"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div
                class="position-relative d-flex justify-content-center align-content-center"
              >
                <div class="item text-center">
                  <h1 class="fw-bolder fs-1 mt-4 mb-2" id="exampleModalLabel">
                    {{ item.title }}
                  </h1>
                  <div class="content-under-header">
                    <p class="lines-edit">
                      <i class="fa-solid fa-star fs-3 px-5"></i>
                    </p>
                  </div>
                </div>
                <i
                  class="fas fa-times position-absolute fs-1 fw-bolder pointer"
                  id="escape"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></i>
              </div>
              <div class="modal-body text-center">
                <img [src]="item.url" alt="" class="w-75 img-fluid rounded" />
                <p class="pt-5 px-5">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Mollitia neque assumenda ipsam nihil,<br />
                  molestias magnam, recusandae quos quis inventore quisquam
                  velit asperiores, vitae? Reprehenderit<br />
                  soluta, eos quod consequuntur itaque. Nam.
                </p>
              </div>
              <div
                class="footer d-flex justify-content-center align-content-center mb-5 mt-3"
              >
                <button
                  type="button"
                  class="btn btn-success mx-auto"
                  data-bs-dismiss="modal"
                >
                  <i class="fas fa-times fa-fw"></i> Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
