.title {
  font-size: 60px;
}

.lines {
  position: relative;
}

.lines::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 53%;
  height: 4px;
  width: 100px;
  background-color: white;
  border-radius: 1rem;
}
.lines::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 53%;
  height: 4px;
  width: 100px;
  background-color: white;
  border-radius: 1rem;
}
